SECRET_KEY = # Any string of characters -- do not share this with anyone # Example Value: FH*#FLS@)(!JFfwe)erw
DB_URL = # Example Value: 'sqlite:///database.db'
TRACK_MODIFICATIONS = # Example Value: True
APP_SETTINGS = # Example Value: 'Config.DevelopmentConfig'

